body {
	background-color: powderblue;
}

h1, p{
	color: black;
	text-align:center;
}

img {
	max-width:100%;
	height:auto;
}
.group {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center:
}
.left {
	float: left;
	width: 70%;
}
.left img {
	width: 100%;
	height: auto;
}

.right {
	float: right;
	padding-left: 5px;
	width: 30%;
	height: 60%;
}

/* scrollbox */
.right_scrollbox {
	height: 80%;
	overflow: auto;
	background: no-repeat;
	background-image: -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -moz-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -moz-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-position: 0 0, 0 100%;
	background-size: 100% 14px;
}
.right_scrollbox:before
.right_scrollbox:after {
	content: "";
	  z-index: -1;
	display: block;
	height: 30px;
	margin: 0 0 -30px;
	background: -webkit-linear-gradient(top, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
	background: linear-gradient(to bottom, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
}
.right_scrollbox:after {
	margin: -30px 0 0;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 70%, #FFF);

}
.right_lower {
	text-align: center;
}

.group:after {
	content:"";
	display: table;
	clear: both;
}

/* On screens that are 800px wide or less, make the left/right stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.left, 
	.right {
		float: none;
		width: auto;
	}
	.group {
		display: flex;
		flex-direction: column;
	}
}
