body {
	background-color: powderblue;
}

h1,
h2 {
	color: black;
	text-align:center;
}

p {
	color: black;
	text-align:center;
}

img {
	max-width:100%;
	height:auto;
}
.tfwrapper {
	display: flex;
	justify-content: center;
}
.tfleft {
	float: left;
	width: auto;
	padding-right: 15px;
}
.tfright {
	float: right;
	width: auto;
	padding-left: 15px;
}
.group {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center:
}

.left {
	float: left;
	width: 70%;
	height: 90%;
	justify-content: center;
	overflow: scroll;
	/*padding-top: 15%;*/
}

.left img {
	width: 100%;
	height: auto;
}

.right {
	/*float: right;*/
	padding-left: 5px;
	justify-content: center;
	align-items: center;
	height: 60%;
	text-align: center;
}

.group:after {
	content:"";
	display: table;
	clear: both;
}
.tfwrapper:after {
	content:"";
	display: table;
	clear: both;
}

/* On screens that are 800px wide or less, make the left/right stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.group {
		display: flex;
		flex-direction: column;
	}
}

/* On screens that are 600px wide or less, tfleft/tfright stack on top of each other instead of next to each other*/ 
@media screen and (max-width: 600px) {
        .tfwrapper{
		display: flex;
		flex-direction: column-reverse;
	}
}
