body {
	background-color: powderblue;
}
h1{
	color: black;
	text-align:center;
}
p {
	color: black;
	text-align:justify;
}
.tab {
	margin-left: 40px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
img {
	max-width:100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}
