html {
	overflow: hidden;
}
body {
	background-color: powderblue;
}
h1{
	color: black;
	text-align:center;
}
p {
	color: black;
	text-align:center;
}
.tab {
	margin-left: 40px;
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other at the specified width */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
img {
	max-width:100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}
