body {
	background-color: powderblue;
}

h1{
	color: black;
	text-align:center;
}

p {
	color: black;
	text-align:center;
}

img {
	max-width:100%;
	height:auto;
}
.tfwrapper {
	display: flex;
}
.tfleft {
	float: left;
	width: auto;
	padding: 5px;
}
.tfright {
	float: right;
	width: auto;
	padding: 5px;
}
.group {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center:
}

.left {
	float: left;
	width: 80%;
	padding: 5px;
	overflow: scroll;
	height: 500px;
	align-items: center;
}

.left img {
	width: 100%;
	height: auto;
}

.right {
	float: right;
	width: 70%;
	padding: 5px;
}

.right img {
	width:100%;
	height:auto;
}


.group:after {
	content:"";
	display: table;
	clear: both;
}
.tfwrapper:after {
	content:"";
	display: table;
	clear: both;
}

/* On screens that are 800px wide or less, make the left/right stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.left,
	.right {
		float: none;
		width: auto;
	}
	.group {
		display: flex;
		flex-direction: column;
	}
}
