---
# Primary
---

/* ==========================================================================
   Global Variables
   ========================================================================== */
  :root {
  // defined widths
  --body-max-width: 52em;
  --reading-max-width: 36em;

  // primary fonts
  --header-font: 'system-ui', sans-serif;
  --body-font: 'system-ui', sans-serif;

  // font weights
  --font-weight-bold: 900;
  --font-weight-normal: 400;

  // colors
  --background-color: #f7f1e4;
  --body-font-color: #4b3320;
  --header-font-color: #414141;
  --faded-text-color: rgba(0, 0, 0, 0.25);
  --link-color: #e17055;
  --link-hover-color: #d36a50;
  --nav-link-color: #e17055;
  --nav-link-hover-color: #d36a50;
  --nav-link-button-color: rgba(0, 0, 0, 0.05);
  --social-link-color: #bbbbbb;
  --separator-color: rgba(0, 0, 0, 0.05);

  @media (prefers-color-scheme: dark) {
    --background-color: #352a22;
    --body-font-color: #f7f1e4;
    --header-font-color: #cfcfcf;
    --faded-text-color: rgba(255, 255, 255, 0.25);
    --link-color: #fdcb6e;
    --link-hover-color: #ffeaa7;
    --nav-link-color: #fdcb6e;
    --nav-link-hover-color: #ffeaa7;
    --nav-link-button-color: rgba(255, 255, 255, 0.1);
    --social-link-color: #777777;
    --separator-color: rgba(255, 255, 255, 0.1);
  }
}
  
/* ==========================================================================
    Essential Elements
    ========================================================================== */
* {
  margin: 0;
  padding: 0;
}
  
body {
  max-width: var(--body-max-width);
  margin: 1.25em auto 4em auto;
  padding: 0 2em;
  background-color: var(--background-color);

  @media screen and (max-width: 28em) {
    margin: 1em auto 2em auto;
    padding: 0 1.15em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: var(--font-weight-bold);
  color: var(--body-font-color);
}

p {
  font-size: 1em;
  font-family: var(--body-font);
  color: var(--body-font-color);
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

/* ==========================================================================
    Header and Navigation
    ========================================================================== */
header {
  border-bottom: 1px solid var(--separator-color);
}

nav {
  margin: 0.5em 0 1em 0;
  font-size: 1.25em;
  font-family: var(--header-font);
  font-weight: var(--font-weight-bold);

  a {
    margin: 0 0.75em 0 0;
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }

  @media screen and (max-width: 36em) {
    font-size: 1.15em;
  }

  @media screen and (max-width: 28em) {
    font-size: 1em;
    a {
      display: inline-block;
      margin: 0 0.15em 0 0;
      padding: 0.25em 0.75em;
      border-radius: 1em;
      background-color: var(--nav-link-button-color);
    }
  }
}

/* ==========================================================================
    Primary Content
    ========================================================================== */
main {
  margin: 2em 0;

  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0 0;
  }

  p {
    max-width: var(--reading-max-width);
    margin: 1.25em 0 0 0;
    line-height: 180%;
    text-rendering: optimizeLegibility;
  }

  img, video {
    margin: 1em 0 0 0;
    border-radius: 0.25em;
  }

  img {
    max-width: var(--reading-max-width);
    width: 100%;
  }
}

/* ==========================================================================
    General-Purpose Classes
    ========================================================================== */
.subtitle {
  margin-top: 0;
  font-family: var(--header-font);
  color: var(--faded-text-color);
}
