/*html {
	overflow: hidden;
}
*/
p, h1 {
	text-align: center;
}
body {
	background-color: powderblue;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
img {
	display: block;
	max-width:100%;
	max-height:100%;
	width:auto;
	height:95vh;
	margin-top:15px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
